.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper {
  overflow: hidden;
  height: 32rem;
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid_container {
  padding: 1rem 0.6rem;
  width: 100%;
}

.grid_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
